{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <link rel="stylesheet" href="{% static 'css/global.css' %}" />
  <link rel="stylesheet" href="{% static 'css/termo.css' %}" />
  <link rel="icon" type="image/png" href="{% static 'imgs/favicon.png' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Termo ETTORE</title>
</head>

<body class="bg">
  <div class="header" id="header_top">

    <div class="inner_header">

      <img src="{% static 'imgs\termologoheader.png' %}" alt="Logo Ettore" class="logo" />
      <ul class="navigation">
        <a>
          <li>
            <img src="{% static 'imgs\flagicon.png' %}" alt="flag" class="flag" />

            <img src="{% static 'imgs\menu_icon.png' %}" alt="menu" class="menu" />
          </li>
        </a>
        <a>
          <li>
            <img src="{% static 'imgs\flagicon.png' %}" alt="flag" class="flag" />

            <img src="{% static 'imgs\help_icon.png' %}" alt="help" class="help" />
          </li>
        </a>
        <a>
          <li>
            <img src="{% static 'imgs\flagicon.png' %}" alt="flag" class="flag" />

            <img src="{% static 'imgs\info.png' %}" alt="info" class="info" />
          </li>
        </a>
      </ul>
    </div>
  </div>

  <div class="modal-menu">
    <div class="modal-menu-content">
      <input type="checkbox" id="darkmode-toggle" />
      <label for="darkmode-toggle">
        <?xml version="1.0" encoding="utf-8"?>
        <svg class="moon" width="800px" height="800px" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3.32031 11.6835C3.32031 16.6541 7.34975 20.6835 12.3203 20.6835C16.1075 20.6835 19.3483 18.3443 20.6768 15.032C19.6402 15.4486 18.5059 15.6834 17.3203 15.6834C12.3497 15.6834 8.32031 11.654 8.32031 6.68342C8.32031 5.50338 8.55165 4.36259 8.96453 3.32996C5.65605 4.66028 3.32031 7.89912 3.32031 11.6835Z"
            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <?xml version="1.0" encoding="utf-8"?>
        <svg class="sun" width="800px" height="800px" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 1C11 0.447715 11.4477 0 12 0C12.5523 0 13 0.447715 13 1V3C13 3.55228 12.5523 4 12 4C11.4477 4 11 3.55228 11 3V1Z"
            fill="#0F0F0F" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M18 12C18 15.3137 15.3137 18 12 18C8.68629 18 6 15.3137 6 12C6 8.68629 8.68629 6 12 6C15.3137 6 18 8.68629 18 12ZM8.06167 12C8.06167 14.1751 9.82492 15.9383 12 15.9383C14.1751 15.9383 15.9383 14.1751 15.9383 12C15.9383 9.82492 14.1751 8.06167 12 8.06167C9.82492 8.06167 8.06167 9.82492 8.06167 12Z"
            fill="#0F0F0F" />
          <path
            d="M20.4853 3.51472C20.0947 3.12419 19.4616 3.12419 19.0711 3.51472L17.6568 4.92893C17.2663 5.31946 17.2663 5.95262 17.6568 6.34315C18.0474 6.73367 18.6805 6.73367 19.0711 6.34315L20.4853 4.92893C20.8758 4.53841 20.8758 3.90524 20.4853 3.51472Z"
            fill="#0F0F0F" />
          <path
            d="M1 13C0.447715 13 0 12.5523 0 12C0 11.4477 0.447715 11 1 11H3C3.55228 11 4 11.4477 4 12C4 12.5523 3.55228 13 3 13H1Z"
            fill="#0F0F0F" />
          <path
            d="M3.51472 3.51472C3.1242 3.90524 3.1242 4.53841 3.51472 4.92893L4.92894 6.34315C5.31946 6.73367 5.95263 6.73367 6.34315 6.34315C6.73368 5.95262 6.73368 5.31946 6.34315 4.92893L4.92894 3.51472C4.53841 3.12419 3.90525 3.12419 3.51472 3.51472Z"
            fill="#0F0F0F" />
          <path
            d="M11 21C11 20.4477 11.4477 20 12 20C12.5523 20 13 20.4477 13 21V23C13 23.5523 12.5523 24 12 24C11.4477 24 11 23.5523 11 23V21Z"
            fill="#0F0F0F" />
          <path
            d="M6.34315 17.6569C5.95263 17.2663 5.31946 17.2663 4.92894 17.6569L3.51473 19.0711C3.1242 19.4616 3.1242 20.0948 3.51473 20.4853C3.90525 20.8758 4.53842 20.8758 4.92894 20.4853L6.34315 19.0711C6.73368 18.6805 6.73368 18.0474 6.34315 17.6569Z"
            fill="#0F0F0F" />
          <path
            d="M21 13C20.4477 13 20 12.5523 20 12C20 11.4477 20.4477 11 21 11H23C23.5523 11 24 11.4477 24 12C24 12.5523 23.5523 13 23 13H21Z"
            fill="#0F0F0F" />
          <path
            d="M17.6568 17.6569C17.2663 18.0474 17.2663 18.6805 17.6568 19.0711L19.0711 20.4853C19.4616 20.8758 20.0947 20.8758 20.4853 20.4853C20.8758 20.0948 20.8758 19.4616 20.4853 19.0711L19.0711 17.6569C18.6805 17.2663 18.0474 17.2663 17.6568 17.6569Z"
            fill="#0F0F0F" />
        </svg>
      </label>
    </div>
  </div>
  </div>
  <div class="modal-help">
    <div class="modal-help-content">
      <h1>Como Jogar?</h1>

      <h2>Digite uma Palavra</h2>
      <p>Insira uma palavra válida de cinco letras e pressione "Enter".</p>

      <h2>Receba o Feedback:</h2>
      <p>
        Verde: Letra correta no lugar certo. <br />
        Amarelo: Letra correta no lugar errado. <br />
        Cinza: Letra não está na palavra secreta.
      </p>

      <h2>Ajuste suas Tentativas:</h2>
      <p>
        Use o feedback para fazer novas suposições até descobrir a palavra
        secreta ou esgotar suas tentativas.
      </p>
    </div>
  </div>
  </div>
  <div class="modal-info">
    <div class="modal-info-content">
      <h1>Devs</h1>

      <div class="dev">
        <h2><span>Amanda Andrade</span>
          <a href="https://www.linkedin.com/" target="_blank">
            <?xml version="1.0" encoding="utf-8"?>
            <svg class="linkedin" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
              <path fill="#0A66C2"
                d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z" />
            </svg>
          </a>
        </h2>
      </div>
      <div class="dev">
        <h2><span>Diogo Saffiotte</span>
          <a href="https://www.linkedin.com/" target="_blank">
            <?xml version="1.0" encoding="utf-8"?>
            <svg class="linkedin" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
              <path fill="#0A66C2"
                d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z" />
            </svg>
          </a>
        </h2>
      </div>
      <div class="dev">
        <h2><span>Eduardo Kirihata</span>
          <a href="https://www.linkedin.com/" target="_blank">
            <?xml version="1.0" encoding="utf-8"?>
            <svg class="linkedin" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
              <path fill="#0A66C2"
                d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z" />
            </svg>
          </a>
        </h2>
      </div>
      <div class="dev">
        <h2><span>Joao Ruy</span>
          <a href="https://www.linkedin.com/" target="_blank">
            <?xml version="1.0" encoding="utf-8"?>
            <svg class="linkedin" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
              <path fill="#0A66C2"
                d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z" />
            </svg>
          </a>
        </h2>
      </div>
      <div class="dev">
        <h2><span>Lucas Valente</span>
          <a href="https://www.linkedin.com/" target="_blank">
            <?xml version="1.0" encoding="utf-8"?>
            <svg class="linkedin" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
              <path fill="#0A66C2"
                d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z" />
            </svg>
          </a>
        </h2>
      </div>
      <div class="dev">
        <h2><span>Rafael Ribeiro Ramos</span>
          <a href="https://www.linkedin.com/" target="_blank">
            <?xml version="1.0" encoding="utf-8"?>
            <svg class="linkedin" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
              <path fill="#0A66C2"
                d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z" />
            </svg>
          </a>
        </h2>
      </div>
      <div class="dev">
        <h2><span>Vinicius Marcel Ibaraki</span>
          <a href="https://www.linkedin.com/" target="_blank">
            <?xml version="1.0" encoding="utf-8"?>
            <svg class="linkedin" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
              <path fill="#0A66C2"
                d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z" />
            </svg>
          </a>
        </h2>
      </div>
      <div class="dev">
        <h2><span>Zex</span>
          <a href="https://www.linkedin.com/" target="_blank">
            <?xml version="1.0" encoding="utf-8"?>
            <svg class="linkedin" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
              <path fill="#0A66C2"
                d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z" />
            </svg>
          </a>
        </h2>
      </div>
    </div>
  </div>
  </div>
  <div class="modal-win">
    <div class="modal-win-content">
      <h1>Parabéns você venceu</h1>
    </div>
  </div>
 
  {% include 'main.html' %}
  <div class="scroll-container">
    <div class="scroll">
      <div class="RightToLeft">
        <p>BCC UNIMAR 2024</p>
      </div>
    </div>
  </div>


  <script type="module" src="{% static 'js/script.js' %}"></script>

</body>
</html>