<body>
  <section id="corpo">
    <main>
      <section id="board"></section>
    </main>

    <div class="toaster">
      <ul></ul>
    </div>

    <footer>
      <section id="keyboard"></section>
    </footer>
  </section>
</body>