@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');


.bg {
  background-color: #131313;
  background-image: url('https://www.transparenttextures.com/patterns/xv.png');
  
}
.header{
  background-color: rgb(109,152,134);
  background: linear-gradient(0deg, rgba(109,152,134,0.9) 19%, rgba(104,104,104,0.5) 100%);
  filter: none;
  transition: filter 0.5s;
  display: block;
  width: 100%;
  height: 120px;
  border-bottom: 2px solid rgba(21, 21, 21, 0.5);
  margin-bottom: 1%;
}

.scroll-container{
  display: flex;
  align-items: center;
  height: 1%;
  overflow: hidden;
  
  background-color: #292929;
  background-image: url('https://www.transparenttextures.com/patterns/dimension.png');
  z-index: -1;
  border-bottom: 2px solid rgba(21, 21, 21, 0.4);
  opacity: 0.7;
}

.scroll {
  white-space: nowrap;
  width: 100%;
  
}

.scroll div {
  display: flex;

}

.scroll p {
  font-size: 1.7em;
  color: #8dc4af;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 100%;
  font-family: "Oswald", sans-serif;

}

.RightToLeft {
  animation: RightToLeft 15s infinite linear;
}

@keyframes  RightToLeft {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(110%);
  }
}

.inner_header{
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
  gap: 2rem;
}

.logo{
  height: 100%;
  display: table;
  float: left;
  filter: drop-shadow(1px 1px 2px black);
}

.logo h1{
  color: #f4f2f1;
  height: 100%;
  font-weight: 300;
  font-family: "Anybody", sans-serif;
  display: table;
  vertical-align: middle;
  float: left;
  font-size: 32px;
}

.navigation{
  float: right;
  height: 100%;
}

.navigation a{
  float: left;
  height: 100%;
  display: table;
  padding: 10px 50px;
}

.navigation a li{
  position: absolute;
  display: flex ;
  align-items: center;
  justify-content: center;

}

.menu, .help, .info{
  width: 35px;
  height: 35px;
  position: absolute;
  filter: brightness(35%);
  z-index: 201;
  opacity: 0.7;
}

.menu:hover, .help:hover, .info:hover{
  width: 47px;
  height: 47px;
  filter: drop-shadow(1px 1px 20px black)
}

.flag{
  width: 60px;
  height: 120px;
  filter: drop-shadow(1px 10px 10px black);
  z-index: 200;

}

.modal-help{
  display: none;
  background-color: white;
  background-image: url('https://www.transparenttextures.com/patterns/diagmonds-light.png');
  z-index: 1000;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  height: auto;
  width:30%;
  position: fixed; /* ou absolute */
  top: 0; /* para centralizar verticalmente, ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 2px 5px black;
}

.modal-menu-content, .modal-info-content, .modal-help-content ,.modal-win-content{
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 100;
}
/* ============ */

.modal-menu{
  display: none;
  background-color: white;
  background-image: url('https://www.transparenttextures.com/patterns/diagmonds-light.png');
  z-index: 1000;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  height: 50%;
  width:15%;
  position: fixed; 
  top: 0; 
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 2px 5px black;
}

/* Modal info */
.modal-info{
  display: none;
  background-color: white;
  background-image: url('https://www.transparenttextures.com/patterns/diagmonds-light.png');
  z-index: 1000;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  height: auto;
  width:30%;
  position: fixed; /* ou absolute */
  top: 0; /* para centralizar verticalmente, ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 2px 5px black;
}

.modal-win{
  display: none;
  background-color: white;
  background-image: url('https://www.transparenttextures.com/patterns/diagmonds-light.png');
  z-index: 1002;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  height: 100%;
  width:30%;
  position: fixed; /* ou absolute */
  top: 0; /* para centralizar verticalmente, ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 10px 10px 5px black;
  transition: 0.5s;
}


.modal-menu-content h2{
  display: inline;
}
.linkedin{
  width: 50px;
  transform: translateX(100%);
}

/* =============== dark mode label */

label{
  width: 166.67px; /* 500px ÷ 3 */
  height: 66.67px;
  position: relative;
  display: block;
  background-color: #242424;
  border-radius: 66.67px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
  transition: 0.3s;
}
label:after{
  content: "";
  width: 60px; /* 180px ÷ 3 */
  height: 60px; /* 180px ÷ 3 */
  position:absolute;
  top: 3.33px; /* 10px ÷ 3 */
  left: 3.33px; /* 10px ÷ 3 */
  background: linear-gradient(180deg,#777,#3a3a3a);
  border-radius: 60px; /* 180px ÷ 3 */
  box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

input{
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label{
  background-color: #ebebeb;
}

input:checked + label:after{
  left: 162px;
  transform: translateX(-100%);
  background:linear-gradient(180deg,#ffcc89,#d8860b);
}

label:active:after{
  width: 126.67px;
}

label svg {
  position: absolute;
  width: 35px;
  top:-367px;
  z-index: 100;
}
label svg.sun {
  left:115px;
  fill:#fff;
  transition: 0.3s;
}
label svg.moon {
  left:15px;
  fill:#7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill:#7e7e7e;
}
input:checked + label svg.moon {
  fill:#fff;
}

@media screen and (max-width: 2000px) {
  .modal-help{
    border-radius: 4%;
    height: 93%;
    width:60%;
    align-items: center;

  }
  
  /* ============ */
  
  .modal-menu{
    border-radius: 6%;
    height: 60%;
    width:20%;
    position: fixed; 

  }
  
  .modal-menu-content{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
}

@media only screen and (max-width: 1000px) {
  .navigation a{
    float: left;
    height: 100%;
    display: table;
  }
  
}
