@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
    --color-black: #212121;
    --color-white: #212121;
    --color-green: rgba(83, 141, 78, 0.8);
    --color-yellow: rgba(181, 159, 59, 0.8);
    --color-gray-dark: rgba(178, 178, 178, 0.8);
    --color-gray-light: #818384;
  }
  
  html { box-sizing: border-box; }
  *, *:before, *:after { box-sizing: inherit; }
  
  body {

    color: black;
  
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;

    min-height: 100vh;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }


  header { border-bottom: 1px solid var(--color-gray-dark); }
  
  h1 {
    margin: 10px 0;
    padding: 0;
    text-align: center;
  }
  
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .toaster {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    width: fit-content;
    
  }
  
  .toaster ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .toast {
    background: black;
    border-radius: 4px;
    color: red;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    
  }
  
  .fade { opacity: 0; }
  
  #board, #keyboard {
    display: flex;
    flex-direction: column;
    gap: 6px; /* Between each row */
    text-transform: uppercase;
    margin-bottom: 60px;
    
  }
  
  #board ul,
  #keyboard ul {
    display: flex;
    list-style: none;
    gap: 6px; /* Between each cell */
    padding: 0;
    margin: 0;
    }

  [data-status],
  [data-key] {
    border: 2px solid rgba(21, 21, 21, 0.5);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    border-radius:10%;
    background-color: rgba(128, 128, 128, 0.5);
    /* Quadrados */
  
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    height: 4rem;
    width: 4rem;
  
    user-select: none;
  }
  
  #keyboard {
    gap: 8px; /* Between each row */
    padding-bottom: 10px;
  }
  
  #keyboard ul { justify-content: center; }
   /* teclado */
  [data-key] {
    background: rgba(128, 128, 128, 0.7);
    border: none;
    border-radius: 4px;
  
    font-size: 1rem;
  
    height: 3.8rem;
    width: 2.8rem;
  
    cursor: pointer;
  
    transition: all .3s ease-in-out;
  }
  
  [data-key='Enter'] { width: 6rem; }
  
  [data-key='Backspace'] {
    background-image: url('https://icons8.com/icon/20115/backspace');
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    width: 4rem;
  }
  
  [data-status='filled']      { border: 1px solid var(--color-gray-light); }
  [data-status='valid']       { background: var(--color-green); }
  [data-status='invalid']     { background: var(--color-yellow); }
  [data-status='none']        { background: var(--color-gray-dark); }
  
  [data-animation='pop']      { animation: PopIn 100ms; }
  
  @keyframes PopIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    40% {
      transform: scale(1.1);
      opacity: 1;
    }
  }
  
  [data-animation='flip']     { animation: Flip .50s ease-in; }
  
  @keyframes Flip {
    from {
      transform: rotateX(0);
    }
    50% {
      transform: rotateX(-90deg);
    }
    to {
      transform: rotateX(0);
    }
  }
  
  [data-animation='invalid']  { animation: Shake 600ms; }
  
  @keyframes Shake {
    10%, 90% {
      transform: translateX(-1px);  
    }
    20%, 80% {
      transform: translateX(2px);
    }
    30%, 50%, 70% {
      transform: translateX(-4px);
    }
    40%, 60% {
      transform: translateX(4px);
    }
  }

  